fastapi
uvicorn
# piper-tts
piper-tts
# onnx gpu runtime package causes docker container build errors on Apple Silicon
# onnxruntime-gpu
# xtts
TTS
# parler-tts
git+https://github.com/huggingface/parler-tts.git
